{extend name="base/common" /}
{block name="body"}
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab-1" aria-expanded="true">权限控制</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#tab-2" aria-expanded="false">分类控制</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#tab-3" aria-expanded="false">成员控制</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab" class="tab-pane active">
                                    <div class="ibox-content" style="border:none">
                                        <form method="post" action="{:url('')}" class="form-horizontal">
                                            <volist name="node_list" id="node" >
                                                <dl class="checkmod">
                                                    <dt class="hd">
                                                        <label class="checkbox"><input class="auth_rules rules_all" type="checkbox" name="rules[]" value="<?php echo $main_rules[$node['url']] ?>">{$node.title}管理</label>
                                                    </dt>
                                                    <dd class="bd">
                                                        <present name="node['child']">
                                                            <volist name="node['child']" id="child" >
                                                                <div class="rule_check">
                                                                    <div>
                                                                        <label class="checkbox" ><notempty name="child['tip']">title='{$child.tip}'</notempty>
                                                                        <input class="auth_rules rules_row" type="checkbox" name="rules[]" value="<?php echo $auth_rules[$child['url']] ?>"/>{$child.title}
                                                                        </label>
                                                                    </div>
                                                                    <notempty name="child['operator']">
                                                                        <span class="divsion">&nbsp;</span>
                                           <span class="child_row">
                                               <volist name="child['operator']" id="op">
                                                   <label class="checkbox" ><notempty name="op['tip']">title='{$op.tip}'</notempty>
                                                   <input class="auth_rules" type="checkbox" name="rules[]"
                                                          value="<?php echo $auth_rules[$op['url']] ?>"/>{$op.title}
                                                   </label>
                                               </volist>
                                           </span>
                                                                    </notempty>
                                                                </div>
                                                            </volist>
                                                        </present>
                                                    </dd>
                                                </dl>
                                            </volist>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
   {/block}