<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T+ 最清爽的后台框架</title>
    <meta name="keywords" content="T+ 最清爽的后台框架">
    <meta name="description" content="T+ 最清爽的后台框架">
    <link rel="shortcut icon" href="./favicon.ico">
    <link href="{$_css}/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="{$_css}/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="{$_css}/animate.min.css" rel="stylesheet">
    <link href="{$_css}/main.css" rel="stylesheet" />
    <link href="{$_css}/style.min862f.css?v=4.1.0" rel="stylesheet" />
    <link href="{$_css}/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{$_css}/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="{$_css}/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <script src="{$_js}/jquery.min.js?v=2.1.4"></script>
     
    <script src="{$_js}/bootstrap.min.js?v=3.3.6"></script>
    <script src="{$_js}/plugins/iCheck/icheck.min.js"></script>
    <script src="{$_js}/plugins/toastr/toastr.min.js"></script>
    <script src="{$_js}/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="{$_js}/common.js"></script>
    <script src="{$_js}/main.js"></script>
    <script src="{$_js}/modernizr-2.8.0.min.js"></script>
    <script src="{$_js}/video.js"></script>
    <script src="{$_js}/jquery.autocompleter.js"></script>
   <script src="{$_js}/plugins/layer/layer.min.js"></script>
</head>
{block name="top_body"}
<body class="gray-bg">
    {block name="body"}{/block}
</body>
{/block}
</html>