{extend name="base/common" /}
{block name="body"}
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                {volist name="Think.config.CONFIG_GROUP_LIST" id="group"}
                                    <li {eq name="id" value="$key"}class="active"{/eq}><a href="{:url('?id='.$key)}">{$group}配置</a></li>
                                {/volist}
                            </ul>
                            <div class="tab-content">
                                <div id="tab" class="tab-pane active">
                                    <div class="ibox-content" style="border:none">
                                        <form method="post" action="{:url('save')}" class="form-horizontal">
                                            {volist name="list" id="config"}
                                                <div class="form-group">
                                                    <label class=".col-xs-6 col-sm-2 control-label text-right">{$config.title}</label>
                                                    <div class=".col-xs-6 col-sm-10">
                                                        {switch name="config.type"}
                                                            {case value="0"}
                                                                <input type="text" class="form-control" name="{$config.name}" placeholder="{$config.remark}" value="{$config.value}" />
                                                            {/case}
                                                            {case value="1"}
                                                                <input type="text" class="form-control" name="{$config.name}" placeholder="{$config.remark}" value="{$config.value}" />
                                                            {/case}
                                                            {case value="2"}
                                                                 <textarea class="form-control" rows="3"  placeholder="{$config.remark}" name="{$config.name}" >{$config.value}</textarea>
                                                            {/case}
                                                            {case value="3"}
                                                                <textarea class="form-control" rows="3"  placeholder="{$config.remark}" name="{$config.name}" >{$config.value}</textarea>
                                                            {/case}
                                                            {case value="4"}
                                                                <div class="btn-group">
                                                                    <select class="form-control m-b" name="{$config.name}">
                                                                        {volist name=":parse_config_attr($config['extra'])" id="vo"}
                                                                        <option value="{$key}" {eq name="config.value" value="$key"} selected {/eq}>{$vo}</option>
                                                                        {/volist}
                                                                    </select>
                                                                <span class="help-block m-b-none">
                                                                    <i class="fa fa-info-circle"></i>
                                                                    {$config.remark}
                                                                </span>
                                                                </div>
                                                            {/case}
                                                        {/switch}
                                                    </div>
                                                </div>
                                            {/volist}
                                            <div class="form-group">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-4">
                                                    <button class="btn btn-primary ajax-post" target-form="form-horizontal" style="width: 100%" type="submit">确定</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
   {/block}