{extend name="base/common" /}
{block name="body"}
<style type="text/css" id="treeview7-style"> .list-group-item {
    cursor: pointer;
}

span.indent {
    margin-left: 10px;
    margin-right: 10px
}

span.icon {
    margin-right: 5px
}

.node-treeview7 {
    color: #428bca;
    border: none;
}

.node-treeview7:hover {
    background-color: #F5F5F5;
} </style>
<script src="{$_js}/plugins/treeview/bootstrap-treeview.js"></script>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li><a href="{:url('power_access?group_id='.$group_id)}">访问授权</a></li>
                            <li class="active"><a href="{:url('power_category?group_id='.$group_id)}">分类授权</a></li>
                            <li><a href="{:url('power_user?group_id='.$group_id)}">成员授权</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab" class="tab-pane active">
                                <div class="ibox-content" style="border: none;">
                                    //TODO:待开发
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{/block}